.container {
  display: flex;
  justify-content: space-around;
}

.section {
  align-items: stretch;
  border-style: dotted;
  padding: 50px;
  margin: 50px;
  justify-self: auto 0;
}

.baseline {
  justify-content: space-between;
}

body {
  background-color: #282c34;
  color: antiquewhite;
}